
    <%- include('includes/head.ejs') %>

    <body>
        <header class="main-header">
          <%- include('includes/navigation.ejs') %>
        
          </header>
    
          
            <h1> Products </h1>

            <ul>
                <% for (let product of products) { %>
                    
                <% } %>

        

                <% products.forEach(product => { %> <ul class="products-list">
                    <li class="product-item">
                        <div class="product-item__content">
                            <h2><%= product.title %></h2>
                            <h3><%= product.price %></h3>
                            <p><%= product.description %></p>
                        </div>
                        <div class="product-item__image">
                            <!-- <img src="<%= product.imageUrl %>" alt="<%= product.title %>"> -->
                            <!-- dynamic dummy img off net-->

                            <img src="https://picsum.photos/200/300" alt="dummy image">
                        </div>
                        <div class="product-item__actions">
                            <form action="/admin/edit-product/<%= product._id %>" method="POST">
                                <button class="btn">Edit</button>
                            </form>
                            <form action="/admin/delete-product " method="POST" >
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button class="btn">Delete</button>
                            </form>
                        </div>
               
                    </li>
          
                    </ul>
                  <%   }) %>

            </ul>

            
    

    
    
        
    </body>
    
    <%- include('includes/end.ejs') %>